body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", sans-serif;
}

.preventSelect {
	margin: 0;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

.launcher {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	height: 506px;
	width: 714px;
	align-items: center;
	line-height: 100%;
	padding: 26px 24px;
	border-radius: 40px;
	filter: opacity(1);
	animation: openAnimation 0.5s ease;
	transition: all 0.5s ease;
}

@keyframes openAnimation {
	0% {
		filter: opacity(0);
	}
	100% {
		filter: opacity(1);
	}
}

.launcherCloseAnimation {
	filter: opacity(0);
}

#background {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
	pointer-events: none;
}

#header {
	position: relative;
	align-self: stretch;
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 20px;
	font-size: 39px;
	color: #fff;
	font-weight: 300;
	white-space: nowrap;
}

#brand {
	display: flex;
	justify-content: space-between;
	gap: 19px;
}

#logoImg {
	object-fit: auto;
	object-position: center;
	width: 66px;
	border-radius: 50%;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
	-webkit-user-drag: none;
}

#name {
	font-family: Segoe UI, sans-serif;
	flex-grow: 1;
	margin: auto 0;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

.close {
	object-fit: auto;
	object-position: center;
	width: 48px;
	margin: auto 0;
	border-radius: 100px;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
	transition: all 0.1s ease-in-out;
}

.close:hover {
	filter: brightness(0.75);
}

.close:active {
	filter: brightness(0.6);
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 20px;
	position: relative;
	height: 100%;
}

#launchButton {
	position: relative;
	border-radius: 16px;
	background: linear-gradient(50deg, #10a9a8 0%, #5f65b9 100%);
	box-shadow: 0px 0px 27px 0px #3788b1, 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 86px;
	cursor: pointer;
	transition: filter 0.15s ease-out, scale 0.3s cubic-bezier(.31,1.9,.49,.68);
}

#launchButton:hover {
	filter: brightness(116%);
	scale: 1.1;
}

#launchButton:active {
	filter: brightness(84%);
	scale: 0.9;
	transition: scale 0.25s cubic-bezier(.09,.63,.55,1);
}

#centerLaunch {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	gap: 2px;
}

#launchText {
	color: #fff;
	font: 700 30px "Segoe UI", sans-serif;
	line-height: 0.9;

	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

#launchSubtext {
	color: #f0f0f0;
	align-self: center;
	font: 350 14px "Segoe UI", sans-serif;

	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

#selectVersion {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;

	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

#selectMenu {
	position: absolute;
	bottom: 25px;
}

/* .center::after {
	content: "";
	position: relative;
	width: 214px;
	height: 34px;
	pointer-events: none;
} */

#selectMenu #selectButton {
	display: flex;
	position: relative;
	background-color: #8383832e;
	width: 214px;
	height: 34px;
	font-size: 18px;
	font-weight: 400;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: 3px solid #83838312;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.1s ease-out;
}

#selectButton:hover {
	background-color: #83838340;
}

#downArrow {
	position: absolute;
	right: 5px;
	transition: all 0.2s ease-out;
}

#selectMenu.active .downArrow {
	transform: rotate(180deg);
}

#selectMenu .options {
	position: relative;
	/* padding: 20px; */
	margin-top: 10px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	background-color: #8383832e;
	outline: 3px solid #83838312;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
	width: 214px;
	overflow: hidden;
	transition: opacity 0.2s ease-out;
}

#selectMenu.active .options {
	opacity: 1;
	pointer-events: all;
}

.options .option {
	display: flex;
	height: 55px;
	cursor: pointer;
	padding: 0 16px;
	/* border-radius: 8px; */
	align-items: center;
	height: 34px;
	align-items: center;
	justify-content: center;
	transition: all 0.1s ease-out;
}

.options .option:hover {
	background-color: #83838312;
}

.option i {
	font-size: 25px;
	margin-right: 12px;
}

.option .optionText {
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
}

p {
	position: relative;
	color: #fff;
	white-space: nowrap;
	font: 400 14px "Segoe UI", sans-serif;

	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
}

#misc {
	position: relative;
	align-self: stretch;
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 20px;
	font-size: 23px;
	color: #fff;
	font-weight: 400;
	white-space: nowrap;
}

#discord {
	aspect-ratio: 1.25;
	object-fit: auto;
	object-position: center;
	width: 61px;
	cursor: pointer;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
	-webkit-user-drag: none;
	transition: all 0.1s ease-in-out;
}

#discord:hover {
	filter: brightness(0.75);
}

#discord:active {
	filter: brightness(0.6);
}

#infobar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.info {
	font-family: Segoe UI, sans-serif;
	text-decoration-line: underline;
	cursor: pointer;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
	transition: all 0.1s ease-in-out;
}

.info:hover {
	filter: brightness(0.75);
}

.info:active {
	filter: brightness(0.6);
}

#settings {
	aspect-ratio: 1;
	object-fit: auto;
	object-position: center;
	width: 49px;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	/* Safari */
	-ms-user-select: none;
	/* IE 10 and IE 11 */
	user-select: none;
	/* Standard syntax */
	transition: all 0.1s ease-in-out;
}

#settings:hover {
	filter: brightness(0.75);
}

#settings:active {
	filter: brightness(0.6);
}